body{
	background-color: #E7E5E5
}
#header{
	width: 1370px;
	height: 50px;
	display: flex;
	margin-left: -10px;
	margin-top: -10px;
	background-color: #1CFAB7;
}
#search {
	width: 400px;
	height: 25px;
	border-radius: 5px;
	margin-top: 10px;
	margin-left: 220px;
}
#foto{
	width: 900px;
	height: 350px;
	background-color: #ffffff;  
	display: block; 
	border: 2px outset #E1E1E1;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:30px;
    left:0;
    right:0;
    top:0;
    bottom:0;
    
}
#bg,#pp,#nama,#tombol{
	position: absolute;
}
#bg{
	width: 900px;
	height: 300px;
	display: flex;
	background-color: red;
	border-radius: 0px
	z-index: 1;

}
#pp{
	width: 150px;
	height: 150px;
	margin-top: 210px;
	margin-left: 40px;
	border: 10px white;
	z-index: 2;
	border-radius: 300px;

}
#nama{
	width: 150px;
	height: 150px;
	margin-top: 200px;
	margin-left: 195px;
	font-size: 45px;
	color: #ffffff;
	z-index: 3;
}
#gbr{
	width: 150px;
	height: 150px;
	border-radius: 300px;
	border: 4px solid white;
}
#tombol{
	margin-left: 195px;
	margin-top: 300px;
}
#profil{
      width: 230px;
      height: 50px;
      padding:0;
      background: #1CFAB7;
      color: #808080;
      cursor: pointer;
      display: inline-block;
      transition: .3s ease-in;
      font-family:  Open Sans Light;
}
#profil:hover{
    background-color:#1CFAB7;
}
#tbl{
      width: 230px;
      height: 50px;
      padding:0;
      background: #ffffff;
      color: #808080;
      cursor: pointer;
      display: inline-block;
      transition: .3s ease-in;
      font-family:  Open Sans Light;
}
#tbl:hover{
    background-color:#1CFAB7;
}
#sosmed,#bio{
	position: absolute;
}
#sosmed{
	width: 300px;
	height: 410px;
	background-color: #ffffff;
	border: 2px outset #E1E1E1;
	margin-left: 220px;
	z-index: 1;
}
.logo{
	width: 30px;
	height: 30px;
	margin-left: 20px;
}
#bio{
	width: 700px;
	height: 400px;
	background-color: #ffffff;
	padding: 20px;
	margin-left: 530px;
	border: 2px outset #E1E1E1;
	padding: 10px
	z-index : 2;
}
#desc,#bungkus {
	position: absolute;
}
#desc{
	width: 250px;
	height: 300px;
	margin-bottom: 30px;
	padding: 10px;
	z-index: 2;
}
#bungkus{
	margin-left: 270px;
	margin-top: 15px;
	z-index: 1;
}
#data{
	width: 500px;
	height: 25px;
	display: inline-block;
}